* {
	margin: 0;
	padding: 0;
}

.logo {
    font-family: 'Mirza', cursive;
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
    font-size: calc(20%*8); 
}

.logo h1 {
   color: #EFEFEF;
}

.videoHolder {
	position: relative;
	top: 120px;
	text-align: center;
}
.iconHolder {
	top: 140px;
	position: relative;
	text-align: center;
}
img {
	width: 80px;
	height: auto;
}